.noteInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px 0px 20px
}
.noteName {
    
    margin-left: 20px;
}
.noteTitle {
    color: #0B9ED9;
}
.note {
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    margin: 5px;
}
